.main {
   min-height: 100vh;
   flex: 1;
   display: flex;
   flex-direction: column;
}

.navBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem;
}

.navBar a {
   color: #000000;
   text-decoration: none;
   font-size: 1rem;
   transition: 0.3s;
}

.navBar a:hover {
   color: #0070f3;
}

.navLinks {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 22rem;
}

.footer {
   display: flex;
   flex: 1;
   padding: 2rem;
   border-top: 1px solid #eaeaea;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.footer a {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
}

.sectionContainer {
   padding: 3rem;
}

.title {
   line-height: 1.15;
   font-size: 3rem;
   text-align: center;
   font-weight: 900;
   color: #0070f3;
}

.description {
   font-size: 1.4rem;
   font-weight: 100;
   line-height: 1.5;
   letter-spacing: 0.05rem;
   text-align: center;
}

.divider {
   width: 95%;
   align-self: center;
   height: 1px;
   background-color: #eaeaea62;
}

.img {
   margin: 1.5rem;
   border-radius: 0.4rem;
   cursor: pointer;
}

.logo_korteks {
   margin-left: 0.1rem;
   height: 3.3rem;
}

.logo_3fs {
   margin-left: 0.1rem;
   margin-top: 4px;
}

.korteks_logo_cnt {
   margin-bottom: 1rem;
}

@media (max-width: 600px) {
   .grid {
      width: 100%;
      flex-direction: column;
   }
   .sectionContainer {
      flex-direction: column;
   }
   .img {
      width: 90vw;
   }
   .mainTitle {
      font-size: 3.5rem;
      margin-bottom: 0rem;
   }
   .mainText {
      font-size: 1.5rem;
      margin-bottom: 1vh;
   }
}

@media (prefers-color-scheme: dark) {
   .card,
   .footer {
      border-color: #222;
   }
   .code {
      background: #111;
   }
   .logo_3fs {
      filter: brightness(0) invert(1);
   }
   .navBar a {
      color: #fff;
   }
}

@media (prefers-color-scheme: light) {
   .card,
   .footer {
      border-color: #222;
   }
   .divider {
      background-color: #222;
   }
   .code {
      background: #111;
   }
   .logo_3fs {
      filter: grayscale(100%);
   }
}

.selectLanguage {
   background-color: #222;
   padding: 2%;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   flex-direction: column;
   -webkit-touch-callout: none; /* iOS Safari */
   user-select: none;
}

.languageOptions {
   position: absolute;
   display: flex;
   top: 11%;
   background-color: #222;
   padding: 0.5%;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   /*disable text selection*/
   width: 7%;
   -webkit-touch-callout: none; /* iOS Safari */
   user-select: none;
}

.languageOption {
   margin-top: 7px;
   cursor: pointer;
   transition: 0.3s;
}

.languageOption:hover {
   color: rgb(166, 166, 166);
}
